$border: 1px solid black;
$orange: #FF7931;
$orange-hover: #e8651e;
$orange-active: #d64e04;
$black30: rgba(0, 0, 0, 0.3);
$black70: rgba(0, 0, 0, 0.7);
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";
$mobile-width-only: "(max-width: 767px)";
