.reviews-section {
  background-color: #ffffff;
  min-width: 228px;
  margin-right: 5%;
  margin-left: 5%;
}

.reviews-section__title {
  font-family: SF UI Display;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #ffffff;
  margin-top: 0;
  width: 228px;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 25px;
  padding-bottom: 15px;
}
